In [1]:

from src.utils.data_manipulation import generate_pairs, test_split, add_index_column
from src.utils.feature_engineering import feature_preprocessing

In [2]:
import pathlib

DATA_DIR = 'data/raw'
DATA_FILENAME = 'cs1_us_outlets.parquet.gzip'
DATA_PATH = pathlib.Path(f'{DATA_DIR}/{DATA_FILENAME}')

In [3]:
DATA_PATH

WindowsPath('data/raw/cs1_us_outlets.parquet.gzip')

In [4]:
import pandas as pd

In [5]:
df = pd.read_parquet(DATA_PATH)

In [6]:
df.head()

,name,address,lat,lon,telephone,persistent_cluster,label,id_dashmote
0,The Attic Bar and Bistro,"Attic Bar & Bistro, 949 Walnut St, Boulder, CO...",40.016559,-105.282414,+1 (303) 415-1300,45417,1.0,676f6c8d-153b-4819-bbc5-3c383b78f4eb
1,Rio Grande Mexican Restaurant,None,40.017014,-105.280876,3034443690,45417,2.0,ffe391e1-e544-4fc0-90fb-c4a443b36921
2,Organic Sandwich Company,"Organic Sandwich Company, 1500 Pearl St f, Bou...",40.018560,-105.275331,+1 (720) 639-3986,45417,3.0,8328514e-a183-4694-8128-922577f9db37
3,Illegal Pete's,"1447 Pearl St, Boulder, CO 80302, USA",40.018817,-105.276312,+1 (303) 440-3955,45417,4.0,8bdf8b83-0ac6-4ad1-924f-199992f0ae51
4,Rocket Fizz Boulder,None,40.018803,-105.276360,3034473499,45417,5.0,86a23d54-081b-49c5-b58b-4940074d56ee

In [7]:
# feature_preprocessing(df, inplace=False).head()

In [8]:
add_index_column(df)

In [9]:
df.head()

,name,address,lat,lon,telephone,persistent_cluster,label,id_dashmote,id_record
0,The Attic Bar and Bistro,"Attic Bar & Bistro, 949 Walnut St, Boulder, CO...",40.016559,-105.282414,+1 (303) 415-1300,45417,1.0,676f6c8d-153b-4819-bbc5-3c383b78f4eb,0
1,Rio Grande Mexican Restaurant,None,40.017014,-105.280876,3034443690,45417,2.0,ffe391e1-e544-4fc0-90fb-c4a443b36921,1
2,Organic Sandwich Company,"Organic Sandwich Company, 1500 Pearl St f, Bou...",40.018560,-105.275331,+1 (720) 639-3986,45417,3.0,8328514e-a183-4694-8128-922577f9db37,2
3,Illegal Pete's,"1447 Pearl St, Boulder, CO 80302, USA",40.018817,-105.276312,+1 (303) 440-3955,45417,4.0,8bdf8b83-0ac6-4ad1-924f-199992f0ae51,3
4,Rocket Fizz Boulder,None,40.018803,-105.276360,3034473499,45417,5.0,86a23d54-081b-49c5-b58b-4940074d56ee,4

In [10]:
feature_preprocessing(df, inplace=False).head()

,id_record,id_dashmote,persistent_cluster,stand_name,stand_phone,lat_rad,lon_rad
0,0,676f6c8d-153b-4819-bbc5-3c383b78f4eb,45417,the attic bar and bistro,13034151300,0.698421,-1.837525
1,1,ffe391e1-e544-4fc0-90fb-c4a443b36921,45417,rio grande mexican restaurant,13034443690,0.698429,-1.837498
2,2,8328514e-a183-4694-8128-922577f9db37,45417,organic sandwich company,17206393986,0.698456,-1.837401
3,3,8bdf8b83-0ac6-4ad1-924f-199992f0ae51,45417,illegal pete s,13034403955,0.698460,-1.837418
4,4,86a23d54-081b-49c5-b58b-4940074d56ee,45417,rocket fizz boulder,13034473499,0.698460,-1.837419

In [11]:
df.head()

,name,address,lat,lon,telephone,persistent_cluster,label,id_dashmote,id_record
0,The Attic Bar and Bistro,"Attic Bar & Bistro, 949 Walnut St, Boulder, CO...",40.016559,-105.282414,+1 (303) 415-1300,45417,1.0,676f6c8d-153b-4819-bbc5-3c383b78f4eb,0
1,Rio Grande Mexican Restaurant,None,40.017014,-105.280876,3034443690,45417,2.0,ffe391e1-e544-4fc0-90fb-c4a443b36921,1
2,Organic Sandwich Company,"Organic Sandwich Company, 1500 Pearl St f, Bou...",40.018560,-105.275331,+1 (720) 639-3986,45417,3.0,8328514e-a183-4694-8128-922577f9db37,2
3,Illegal Pete's,"1447 Pearl St, Boulder, CO 80302, USA",40.018817,-105.276312,+1 (303) 440-3955,45417,4.0,8bdf8b83-0ac6-4ad1-924f-199992f0ae51,3
4,Rocket Fizz Boulder,None,40.018803,-105.276360,3034473499,45417,5.0,86a23d54-081b-49c5-b58b-4940074d56ee,4

In [12]:
feature_preprocessing(df, inplace=True)

In [13]:
df.head()

,persistent_cluster,id_dashmote,id_record,stand_name,stand_phone,lat_rad,lon_rad
0,45417,676f6c8d-153b-4819-bbc5-3c383b78f4eb,0,the attic bar and bistro,13034151300,0.698421,-1.837525
1,45417,ffe391e1-e544-4fc0-90fb-c4a443b36921,1,rio grande mexican restaurant,13034443690,0.698429,-1.837498
2,45417,8328514e-a183-4694-8128-922577f9db37,2,organic sandwich company,17206393986,0.698456,-1.837401
3,45417,8bdf8b83-0ac6-4ad1-924f-199992f0ae51,3,illegal pete s,13034403955,0.698460,-1.837418
4,45417,86a23d54-081b-49c5-b58b-4940074d56ee,4,rocket fizz boulder,13034473499,0.698460,-1.837419

In [14]:
from src.utils.data_manipulation import generate_pairs

In [15]:
%%time
pairs = generate_pairs(df)

Wall time: 32.7 s

In [16]:
pairs.head()

,persistent_cluster_x,id_dashmote_x,id_record_x,stand_name_x,stand_phone_x,lat_rad_x,lon_rad_x,persistent_cluster_y,id_dashmote_y,id_record_y,stand_name_y,stand_phone_y,lat_rad_y,lon_rad_y,location_distance,target
0,10896,f6515a23-373c-4955-8d7f-d75f619ebc30,1772,auntie anne s cinnabon,14242262688,0.594443,-2.066812,10896,f8b16ead-c65c-453c-acd3-42a3d7123392,1774,eataly los angeles,12133108000,0.594446,-2.066819,39.829015,0
1,10896,91898d79-676c-4a01-b1b5-e7480b6364a6,1773,bacio di latte,13102727800,0.594446,-2.066823,10896,f8b16ead-c65c-453c-acd3-42a3d7123392,1774,eataly los angeles,12133108000,0.594446,-2.066819,22.502409,0
2,10896,948d38e9-1ed0-4695-9f2c-79caa2fc9c61,1775,johnnie s new york pizzeria,13105531188,0.594462,-2.066834,10896,f8b16ead-c65c-453c-acd3-42a3d7123392,1774,eataly los angeles,12133108000,0.594446,-2.066819,128.995350,0
3,10896,0cef1b37-5904-47d6-b0b5-5a74d7553446,1776,massis kabob,13105564400,0.594454,-2.066821,10896,f8b16ead-c65c-453c-acd3-42a3d7123392,1774,eataly los angeles,12133108000,0.594446,-2.066819,51.189925,0
4,10896,06664e37-a4ae-4e5c-bc56-f8295da24e29,1777,tosai sushi,14243430440,0.594454,-2.066821,10896,f8b16ead-c65c-453c-acd3-42a3d7123392,1774,eataly los angeles,12133108000,0.594446,-2.066819,51.189925,0

In [17]:
df.head()

,persistent_cluster,id_dashmote,id_record,stand_name,stand_phone,lat_rad,lon_rad
0,45417,676f6c8d-153b-4819-bbc5-3c383b78f4eb,0,the attic bar and bistro,13034151300,0.698421,-1.837525
1,45417,ffe391e1-e544-4fc0-90fb-c4a443b36921,1,rio grande mexican restaurant,13034443690,0.698429,-1.837498
2,45417,8328514e-a183-4694-8128-922577f9db37,2,organic sandwich company,17206393986,0.698456,-1.837401
3,45417,8bdf8b83-0ac6-4ad1-924f-199992f0ae51,3,illegal pete s,13034403955,0.698460,-1.837418
4,45417,86a23d54-081b-49c5-b58b-4940074d56ee,4,rocket fizz boulder,13034473499,0.698460,-1.837419

In [18]:
test = df[df.id_record.isin(set([0, 2, 128]))].copy()

In [19]:
train = df[~df.id_record.isin(set([0, 2, 128]))].copy()

In [20]:
train.shape, test.shape

((3572, 7), (3, 7))

In [21]:
test.head()

,persistent_cluster,id_dashmote,id_record,stand_name,stand_phone,lat_rad,lon_rad
0,45417,676f6c8d-153b-4819-bbc5-3c383b78f4eb,0,the attic bar and bistro,13034151300,0.698421,-1.837525
2,45417,8328514e-a183-4694-8128-922577f9db37,2,organic sandwich company,17206393986,0.698456,-1.837401
128,4189,9c61998e-13fd-4804-88c3-2727ff05f838,128,cheese steak shop,15108326717,0.659918,-2.133557

In [22]:
test_pairs = generate_pairs(train, test, n_neighbours=5)

In [23]:
test_pairs.shape

(15, 16)

In [24]:
test_pairs.sort_values(['id_record_x', 'id_record_y'])

,persistent_cluster_x,id_dashmote_x,id_record_x,stand_name_x,stand_phone_x,lat_rad_x,lon_rad_x,persistent_cluster_y,id_dashmote_y,id_record_y,stand_name_y,stand_phone_y,lat_rad_y,lon_rad_y,location_distance,target
5,45417,676f6c8d-153b-4819-bbc5-3c383b78f4eb,0,the attic bar and bistro,13034151300,0.698421,-1.837525,45417,ffe391e1-e544-4fc0-90fb-c4a443b36921,1,rio grande mexican restaurant,13034443690,0.698429,-1.837498,140.492600,0
7,45417,676f6c8d-153b-4819-bbc5-3c383b78f4eb,0,the attic bar and bistro,13034151300,0.698421,-1.837525,45417,f96f739d-8e5b-43f6-b247-edc030c09deb,9,rooted craft kitchen,17206884319,0.698457,-1.837433,503.742713,0
8,45417,676f6c8d-153b-4819-bbc5-3c383b78f4eb,0,the attic bar and bistro,13034151300,0.698421,-1.837525,45417,09b9aede-8aef-4c59-a9b4-7ce215142fc7,10,boychik kitchen,17203437757,0.698457,-1.837433,503.742713,0
6,45417,676f6c8d-153b-4819-bbc5-3c383b78f4eb,0,the attic bar and bistro,13034151300,0.698421,-1.837525,45417,f96f739d-8e5b-43f6-b247-edc030c09deb,11,rooted craft kitchen,,0.698457,-1.837433,503.700586,0
9,45417,676f6c8d-153b-4819-bbc5-3c383b78f4eb,0,the attic bar and bistro,13034151300,0.698421,-1.837525,45417,02dc9381-26cf-46d2-852e-b53dbe8807b7,13,whole sol blend bar,17204751355,0.698450,-1.837426,517.489808,0
10,45417,8328514e-a183-4694-8128-922577f9db37,2,organic sandwich company,17206393986,0.698456,-1.837401,45417,8bdf8b83-0ac6-4ad1-924f-199992f0ae51,3,illegal pete s,13034403955,0.698460,-1.837418,88.367708,0
12,45417,8328514e-a183-4694-8128-922577f9db37,2,organic sandwich company,17206393986,0.698456,-1.837401,45417,86a23d54-081b-49c5-b58b-4940074d56ee,4,rocket fizz boulder,13034473499,0.698460,-1.837419,91.731269,0
11,45417,8328514e-a183-4694-8128-922577f9db37,2,organic sandwich company,17206393986,0.698456,-1.837401,45417,e24cfae3-7a84-4e3c-b3ea-7e8e3e377b28,5,kilwins,13034421940,0.698454,-1.837420,91.023089,0
13,45417,8328514e-a183-4694-8128-922577f9db37,2,organic sandwich company,17206393986,0.698456,-1.837401,45417,e24cfae3-7a84-4e3c-b3ea-7e8e3e377b28,6,kilwins boulder,13034421940,0.698454,-1.837421,99.472754,0
14,45417,8328514e-a183-4694-8128-922577f9db37,2,organic sandwich company,17206393986,0.698456,-1.837401,45417,e24cfae3-7a84-4e3c-b3ea-7e8e3e377b28,7,kilwins,13034421940,0.698454,-1.837421,99.782343,0
2,4189,9c61998e-13fd-4804-88c3-2727ff05f838,128,cheese steak shop,15108326717,0.659918,-2.133557,4189,98898461-e28d-47bb-bed6-1326e98df8a5,126,quickly bubble tea,15109221998,0.659918,-2.133558,4.603076,0
1,4189,9c61998e-13fd-4804-88c3-2727ff05f838,128,cheese steak shop,15108326717,0.659918,-2.133557,4189,98898461-e28d-47bb-bed6-1326e98df8a5,127,quickly,15109221998,0.659918,-2.133558,3.980471,0
0,4189,9c61998e-13fd-4804-88c3-2727ff05f838,128,cheese steak shop,15108326717,0.659918,-2.133557,4189,9c61998e-13fd-4804-88c3-2727ff05f838,129,cheese steak shop oakland,15108326717,0.659919,-2.133558,3.465310,1
3,4189,9c61998e-13fd-4804-88c3-2727ff05f838,128,cheese steak shop,15108326717,0.659918,-2.133557,4189,9c61998e-13fd-4804-88c3-2727ff05f838,130,the cheese steak shop,15108326717,0.659919,-2.133558,7.086238,1
4,4189,9c61998e-13fd-4804-88c3-2727ff05f838,128,cheese steak shop,15108326717,0.659918,-2.133557,4189,588d77e5-e029-4537-82d7-e526d0ac0644,134,rolling dunes,15108363863,0.659926,-2.133557,50.641785,0

In [25]:
from src.utils.pairwise_features import add_pairwise_features

In [26]:
add_pairwise_features(test_pairs)

In [27]:
test_pairs.head()

,persistent_cluster_x,id_dashmote_x,id_record_x,stand_name_x,stand_phone_x,lat_rad_x,lon_rad_x,persistent_cluster_y,id_dashmote_y,id_record_y,stand_name_y,stand_phone_y,lat_rad_y,lon_rad_y,location_distance,target,phone_distance,name_levenshtein_norm,name_lcs_norm
0,4189,9c61998e-13fd-4804-88c3-2727ff05f838,128,cheese steak shop,15108326717,0.659918,-2.133557,4189,9c61998e-13fd-4804-88c3-2727ff05f838,129,cheese steak shop oakland,15108326717,0.659919,-2.133558,3.465310,1,11.0,21.0,0.809524
1,4189,9c61998e-13fd-4804-88c3-2727ff05f838,128,cheese steak shop,15108326717,0.659918,-2.133557,4189,98898461-e28d-47bb-bed6-1326e98df8a5,127,quickly,15109221998,0.659918,-2.133558,3.980471,0,11.0,12.0,0.166667
2,4189,9c61998e-13fd-4804-88c3-2727ff05f838,128,cheese steak shop,15108326717,0.659918,-2.133557,4189,98898461-e28d-47bb-bed6-1326e98df8a5,126,quickly bubble tea,15109221998,0.659918,-2.133558,4.603076,0,11.0,17.5,0.342857
3,4189,9c61998e-13fd-4804-88c3-2727ff05f838,128,cheese steak shop,15108326717,0.659918,-2.133557,4189,9c61998e-13fd-4804-88c3-2727ff05f838,130,the cheese steak shop,15108326717,0.659919,-2.133558,7.086238,1,11.0,19.0,0.894737
4,4189,9c61998e-13fd-4804-88c3-2727ff05f838,128,cheese steak shop,15108326717,0.659918,-2.133557,4189,588d77e5-e029-4537-82d7-e526d0ac0644,134,rolling dunes,15108363863,0.659926,-2.133557,50.641785,0,11.0,15.0,0.200000

In [28]:
test_pairs.columns

Index(['persistent_cluster_x', 'id_dashmote_x', 'id_record_x', 'stand_name_x',
       'stand_phone_x', 'lat_rad_x', 'lon_rad_x', 'persistent_cluster_y',
       'id_dashmote_y', 'id_record_y', 'stand_name_y', 'stand_phone_y',
       'lat_rad_y', 'lon_rad_y', 'location_distance', 'target',
       'phone_distance', 'name_levenshtein_norm', 'name_lcs_norm'],
      dtype='object')

In [40]:
(test_pairs.groupby('id_record_x').name_levenshtein_norm.mean().sort_values(ascending=False).index[0])

0

In [ ]:
test_pairs.groupby()

In [41]:
from sklearn.model_selection import train_test_split

In [43]:
print(train_test_split.__doc__)

Split arrays or matrices into random train and test subsets

    Quick utility that wraps input validation and
    ``next(ShuffleSplit().split(X, y))`` and application to input data
    into a single call for splitting (and optionally subsampling) data in a
    oneliner.

    Read more in the :ref:`User Guide <cross_validation>`.

    Parameters
    ----------
    *arrays : sequence of indexables with same length / shape[0]
        Allowed inputs are lists, numpy arrays, scipy-sparse
        matrices or pandas dataframes.

    test_size : float or int, default=None
        If float, should be between 0.0 and 1.0 and represent the proportion
        of the dataset to include in the test split. If int, represents the
        absolute number of test samples. If None, the value is set to the
        complement of the train size. If ``train_size`` is also None, it will
        be set to 0.25.

    train_size : float or int, default=None
        If float, should be between 0.0 and 1.0 and represent the
        proportion of the dataset to include in the train split. If
        int, represents the absolute number of train samples. If None,
        the value is automatically set to the complement of the test size.

    random_state : int, RandomState instance or None, default=None
        Controls the shuffling applied to the data before applying the split.
        Pass an int for reproducible output across multiple function calls.
        See :term:`Glossary <random_state>`.


    shuffle : bool, default=True
        Whether or not to shuffle the data before splitting. If shuffle=False
        then stratify must be None.

    stratify : array-like, default=None
        If not None, data is split in a stratified fashion, using this as
        the class labels.
        Read more in the :ref:`User Guide <stratification>`.

    Returns
    -------
    splitting : list, length=2 * len(arrays)
        List containing train-test split of inputs.

        .. versionadded:: 0.16
            If the input is sparse, the output will be a
            ``scipy.sparse.csr_matrix``. Else, output type is the same as the
            input type.

    Examples
    --------
    >>> import numpy as np
    >>> from sklearn.model_selection import train_test_split
    >>> X, y = np.arange(10).reshape((5, 2)), range(5)
    >>> X
    array([[0, 1],
           [2, 3],
           [4, 5],
           [6, 7],
           [8, 9]])
    >>> list(y)
    [0, 1, 2, 3, 4]

    >>> X_train, X_test, y_train, y_test = train_test_split(
    ...     X, y, test_size=0.33, random_state=42)
    ...
    >>> X_train
    array([[4, 5],
           [0, 1],
           [6, 7]])
    >>> y_train
    [2, 0, 3]
    >>> X_test
    array([[2, 3],
           [8, 9]])
    >>> y_test
    [1, 4]

    >>> train_test_split(y, shuffle=False)
    [[0, 1, 2], [3, 4]]